#home-cont {
  text-align: center;
  float: right;
}

#snapshot-nav {
  background-color: blue;
}
/*========================================================================
                            Side Navbar
==========================================================================*/
#fixed-left {
  right: auto;
  margin-left: 5%;
}

.nav-li-1 {
  margin-left: 50px;
}

#logo {
  margin-right: 10px;
}
