{{#each posts}}
  <div class="row">
  {{#each files}}
    <div class="col-md-4">
      <div class="card">
          <img src="uploads/{{filename}}" alt="" class="responsive-img">
      </div>
    </div>
  {{/each}}
 </div>
{{/each}}
{{!-- <div id="instafeed"></div>  --}}
